.app {
  min-height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
}

.main {
  flex-grow: 1;
  padding: 40px 20px;
}

.resultsHeader {
  margin-bottom: 40px;
}

.resultsText {
  font-size: 16px;
  color: #363636;
  margin-bottom: 16px;
}

.divider {
  border-color: #EAEAEA;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.errorAlert {
  margin-bottom: 20px;
}

.emptyState {
  text-align: center;
  padding: 40px;
}
