$font-family: 'Montserrat', sans-serif;
$color-text: #363636;
$color-white: #FFFFFF;
$color-divider: #EAEAEA;
$max-width: 1440px;

.app {
  min-height: 100vh;
  width: 100%;
  max-width: $max-width;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 50px 75px 80px;
}

.header {
  width: 100%;
  margin: 0 0 40px 0;
}

.searchHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.searchLabel {
  font-family: $font-family;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $color-text;
  margin: 0;
  padding: 0;
}

.main {
  flex-grow: 1;
  width: 100%;
  margin: 0;
  padding: 0;
}

.resultsHeaderContainer {
  margin-bottom: 45px;
  width: 100%;
}

.resultsHeader {
  width: 100%;
}

.resultsText {
  font-family: $font-family;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: $color-text;
  margin: 0 0 10px 0;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: $color-divider;
  border: none;
  margin: 0;
}

.emptyState {
  font-family: $font-family;
  text-align: center;
  padding: 60px 20px;
  color: $color-text;
  font-size: 18px;
}
